/* COMMON */
img {
    max-width: 100%;
}

:root {
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
}

ul li {
    list-style-type: none;
}

.ms-container-small {
    width: 60%;
    margin: 0 auto;
}
/* HEADER */
/* Header Top Section */
.header-top {
    height: 40px;
    background-color: black;
}

.header-top img {
    width: 100px;
}

/* Header Bot Section */

/* Jumbotron Section */
.jumbotron-section {
    background-image: url(../img/jumbo-bg.png);
    height: 650px;
    background-position: center;
    background-size: cover;
}

.ms-buy-now {
    background-color: #cd3d0f;
}

/* It-Takes-Two-Section */
.it-takes-two-section {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
}

.takes-two-cover {
    max-width: 50%;
}

/* Playstation Plus Section */
.playstation-plus-section {
    background-color: var(--bs-gray-400);
}

.ps-logo img {
    max-width: 50%;
}

/* Playstation Store Section */
.playstation-now-section {
    background-color: #161c3b;
}

.pn-logo img {
    max-width: 50%;
}

/* FOOTER */
footer {
    background-color: #00439c;
}

.sony-img {
    filter: brightness(0) invert(1);
    width: 150px;
}

/* Footer Bottom Section */
.footer-img {
    max-width: 20%;
}