/* COMMON */
img {
    max-width: 100%;
}

:root {
    /* Colors */
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;

    /* Spacing */
    --ms_margin-tb: 1rem 0;
    --ms_padding-tb: 1rem 0;
}

ul li {
    list-style-type: none;
}

.section-title {
    padding: 2rem 0;
}

.disabled {
    opacity: .5;
}

/* HEADER */
/* Header Top Section */
.header-top {
    text-align: right;
    height: 40px;
    padding: .3rem 0 0;
    background-color: black;
}

.header-top img {
    width: 100px;
}

/* Header Bot Section */
.header-bottom .nav-link {
    color: black;
    position: relative;
}

.ms-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.ms-nested-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    background-color: white;
}

.ms-nested-menu .ms-card {
    border: 1px solid black;
    text-align: center;
}

.nav-item:hover .ms-nested-menu {
    display: block;
}

.links li {
    padding-left: .5rem;
}

/* .ms-menu:hover .ms-card {
    display: flex;
} */





/* Jumbotron Section */
.jumbotron-section {
    background-image: url(../img/jumbo-bg.png);
    min-height: 650px;
    background-position: center;
    background-size: cover;
    margin-top: 6.5rem;
}

.ms-buy-now {
    background-color: #cd3d0f;
}

.jumbotron-section .ms-buy-now:hover {
    background-color: #993513;
    border: 1px solid black;
    border-radius: 30px;
}

/* Game Cover Section */
.game-cover-section .selected {
    border: solid;
}

.game-cover-section .ms-card {
    transition: transform 1s;
}

.game-cover-section .ms-card:hover {
    transform: translateY(20px);
}

/* Playstation accessories section */
.active:hover {
    border-bottom: 1px solid #247cfd;
    opacity: 1;
}


/* It-Takes-Two-Section */
.it-takes-two-section {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    min-height: 500px;
    background-position: center;
    background-size: cover;
}

.takes-two-cover {
    max-width: 50%;
}

.ms-buy-now {
    background-color: #cd3d0f;
}

.it-takes-two-section .ms-buy-now:hover {
    background-color: #993513;
    border-radius: 30px;
}

/* Latest Releases Section */
.latest-releases .ms-card .img-content {
    border-radius: 20px;
    overflow: hidden;
}

/* Playstation Plus Section */
.playstation-plus-section {
    background-color: var(--bs-gray-400);
}

.ps-logo img {
    max-width: 50%;
}

/* Playstation Store Section */
.playstation-now-section {
    background-color: #161c3b;
}

.pn-logo img {
    max-width: 50%;
}

/* FOOTER */
footer {
    background-color: #00439c;
}

.sony-img {
    filter: brightness(0) invert(1);
    width: 150px;
}

/* Footer Bottom Section */
.footer-img {
    max-width: 20%;
}

/* MEDIA QUERY */
@media screen and (min-width: 768px) {
    .ms-container-small {
        width: 60%;
        margin: 0 auto;
    }
}